[submodule "inih"]
    path = externals/inih/inih
    url = https://github.com/svn2github/inih
[submodule "boost"]
    path = externals/boost
    url = https://github.com/yuzu-emu/ext-boost.git
[submodule "catch"]
    path = externals/catch
    url = https://github.com/philsquared/Catch.git
[submodule "cubeb"]
    path = externals/cubeb
    url = https://github.com/kinetiknz/cubeb.git
[submodule "dynarmic"]
    path = externals/dynarmic
    url = https://github.com/MerryMage/dynarmic.git
[submodule "xbyak"]
    path = externals/xbyak
    url = https://github.com/herumi/xbyak.git
[submodule "fmt"]
    path = externals/fmt
    url = https://github.com/fmtlib/fmt.git
[submodule "lz4"]
    path = externals/lz4
    url = https://github.com/lz4/lz4.git
[submodule "unicorn"]
    path = externals/unicorn
    url = https://github.com/yuzu-emu/unicorn
[submodule "mbedtls"]
    path = externals/mbedtls
    url = https://github.com/DarkLordZach/mbedtls
[submodule "opus"]
    path = externals/opus
    url = https://github.com/ogniK5377/opus.git
[submodule "soundtouch"]
	path = externals/soundtouch
	url = https://github.com/citra-emu/ext-soundtouch.git
[submodule "libressl"]
    path = externals/libressl
    url = https://github.com/citra-emu/ext-libressl-portable.git
[submodule "discord-rpc"]
    path = externals/discord-rpc
    url = https://github.com/discordapp/discord-rpc.git
