[submodule "inih"]
    path = externals/inih/inih
    url = https://github.com/benhoyt/inih.git
[submodule "cubeb"]
    path = externals/cubeb
    url = https://github.com/kinetiknz/cubeb.git
[submodule "dynarmic"]
    path = externals/dynarmic
    url = https://github.com/MerryMage/dynarmic.git
[submodule "soundtouch"]
    path = externals/soundtouch
    url = https://github.com/citra-emu/ext-soundtouch.git
[submodule "libressl"]
    path = externals/libressl
    url = https://github.com/citra-emu/ext-libressl-portable.git
[submodule "libusb"]
	path = externals/libusb/libusb
	url = https://github.com/libusb/libusb.git
[submodule "discord-rpc"]
    path = externals/discord-rpc
    url = https://github.com/discordapp/discord-rpc.git
[submodule "Vulkan-Headers"]
    path = externals/Vulkan-Headers
    url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "sirit"]
    path = externals/sirit
    url = https://github.com/ReinUsesLisp/sirit
[submodule "mbedtls"]
    path = externals/mbedtls
    url = https://github.com/DarkLordZach/mbedtls
[submodule "libzip"]
    path = externals/libzip/libzip
    url = https://github.com/nih-at/libzip.git
[submodule "xbyak"]
    path = externals/xbyak
    url = https://github.com/herumi/xbyak.git
[submodule "opus"]
	path = externals/opus/opus
	url = https://github.com/xiph/opus.git
[submodule "ffmpeg"]
	path = externals/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
