name: yuzu-ci

on:
  push:
    branches: [ master ]
    tags: [ "*" ]
  pull_request:
    branches: [ master ]

jobs:
  transifex:
    runs-on: ubuntu-latest
    container: yuzuemu/build-environments:linux-transifex
    if: ${{ github.repository == 'yuzu-emu/yuzu' && !github.head_ref }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0   
      - name: Update Translation
        run: ./.ci/scripts/transifex/docker.sh
        env:
          TRANSIFEX_API_TOKEN: ${{ secrets.TRANSIFEX_API_TOKEN }}
